---
- name: Configure loopbacks and EIGRP
  hosts: routers
  gather_facts: no
  connection: network_cli

  vars:
    loopbacks:
      Router1:
        - { id: 1, ip: "10.1.1.1", mask: "255.255.255.255" }
        - { id: 2, ip: "10.1.2.1", mask: "255.255.255.255" }
        - { id: 3, ip: "10.1.3.1", mask: "255.255.255.255" }
      Router2:
        - { id: 1, ip: "10.1.1.2", mask: "255.255.255.255" }
        - { id: 2, ip: "10.1.2.2", mask: "255.255.255.255" }
        - { id: 3, ip: "10.1.3.2", mask: "255.255.255.255" }

  tasks:

    - name: Configure Loopback interfaces
      cisco.ios.ios_config:
        lines:
          - "interface Loopback{{ item.id }}"
          - "ip address {{ item.ip }} {{ item.mask }}"
          - "no shutdown"
      loop: "{{ loopbacks[inventory_hostname] }}"

    - name: Configure EIGRP 100 on Router1
      when: inventory_hostname == "Router1"
      cisco.ios.ios_config:
        lines:
          - router eigrp 100
          - network 10.1.1.1 0.0.0.0
          - network 10.1.2.1 0.0.0.0
          - network 10.1.3.1 0.0.0.0
          - network 10.1.69.0 0.0.0.255

    - name: Configure EIGRP 100 on Router2
      when: inventory_hostname == "Router2"
      cisco.ios.ios_config:
        lines:
          - router eigrp 100
          - network 10.1.1.2 0.0.0.0
          - network 10.1.2.2 0.0.0.0
          - network 10.1.3.2 0.0.0.0
          - network 10.1.69.0 0.0.0.255

