---
- name: Configure VLANs and Router Subinterfaces
  hosts: all
  gather_facts: no
  connection: network_cli

  vars:
    vlans:
      - id: 10
        name: Users
        mask: 255.255.255.0
        router_ips:
          Router1: 10.1.10.1
          Router2: 10.1.10.2

      - id: 20
        name: Guests
        mask: 255.255.255.0
        router_ips:
          Router1: 10.1.20.1
          Router2: 10.1.20.2

      - id: 30
        name: Wireless
        mask: 255.255.255.0
        router_ips:
          Router1: 10.1.30.1
          Router2: 10.1.30.2

      - id: 69
        name: Management
        mask: 255.255.255.0
        router_ips:
          Router1: 10.1.69.1
          Router2: 10.1.69.2

    # Switch trunk ports to routers
    switch_trunks:
      - GigabitEthernet1/0/1
      - GigabitEthernet1/0/2

  tasks:
  #########################################################################
  # SWITCH CONFIGURATION
  #########################################################################
  - name: Create VLANs on switch
    ios_config:
      lines:
        - name {{ item.name }}
      parents: vlan {{ item.id }}
    when: inventory_hostname in groups['switches']
    loop: "{{ vlans }}"

  - name: Configure switch trunk ports
    ios_config:
      lines:
        - switchport mode trunk
        - switchport trunk allowed vlan 10,20,30,69
      parents: interface {{ item }}
    when: inventory_hostname in groups['switches']
    loop: "{{ switch_trunks }}"

  #########################################################################
  # ROUTER CONFIGURATION
  #########################################################################
  - name: Configure router subinterfaces for each VLAN
    ios_config:
      lines:
        - encapsulation dot1Q {{ item.id }}
        - ip address {{ item.router_ips[inventory_hostname] }} {{ item.mask }}
      parents: interface GigabitEthernet0/0/0.{{ item.id }}
    loop: "{{ vlans }}"
    when: inventory_hostname in groups['routers']


  #########################################################################
  # SAVE CONFIGURATION
  #########################################################################
  - name: Save running-config to startup-config
    ios_config:
      save_when: always

